@font-face {
  font-family: sf pro text;
  src: url(fonts/SF-Pro-Text-Light.otf);
}

@font-face {
  font-family: sf pro;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 98vw;
  height: 44px;
  /*background-color: #1d1d1f;*/
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(1.8) blur(20px);
  display: block;
  z-index: 9999;
  -webkit-font-smoothing: antialiased;
  position: fixed;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem 0 1rem;
  padding-top: 12px;
}

.links {
  padding: 0 8px;
}

.linkss {
  padding: 0;
  margin: 0;
}

.links a {
  text-decoration: none;
  /* color: white;*/
  color: #ffffff;
  opacity: 0.8;
  font-family: sf pro text;
  font-size: 12px;
}

.links a:hover {
  opacity: 1;
}

.menu-logo {
  display: none;
  width: 1px;
  height: 1px;
}

.apple-logo {
  height: 15px;
  width: 44px;
}

.search-icon {
  height: 15px;
  width: 44px;
}

.shopping-bag {
  height: 13px;
  width: 44px;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 44px 20px 0 20px;
  margin-bottom: 0px;
  background-color: rgb(245, 245, 247);
}

.unicef-logo {
  background-image: url("./img/unicef_logo_dark__ejvlglygb3ee_large_2x.png");
  background-size: 122px 32px;
  height: 32px;
  width: 122px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
}

.support-message {
  color: #0066cc;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: sf pro text;
  align-self: center;
}

.support-message:hover {
  text-decoration: underline;
}

.arrow-icon {
  height: 8px;
  margin-left: 4px;
  transform: rotate(-0deg);
}

.section-1-wrapper {
  height: 100vh;
  width: 98vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./img/hero_iphone13_avail__gnqqkzuai6um_largetall_2x.jpg");
  font-family: sf pro;
  margin-top: 0;
}

.section-1-info {
  padding-top: 0px;
}

.title {
  color: rgb(29, 29, 31);
  font-family: sf pro;
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -0.28px;
}

.macbook-13-logo {
  /* background-image: url("./img/logo_hero_mbp13__gdqp6kikbxe2_largetall_2x.png");
  background-size: 293px 68px;
  height: 68px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  margin-top: -3px;
  margin-bottom: 0;
  margin-left: 40px;*/
  color: rgb(29, 29, 31);
  font-size: 28px;
  font-family: sf pro;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.112px;
  margin-top: 15px;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

.call-to-action-buttons {
  margin-top: 13.65px;
  margin-bottom: 0;
  text-align: center;
}

.call-to-action-buttons a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  font-weight: 400;
  font-size: 21px;
  z-index: 4;
}

.section-2-wrapper {
  background-image: url("./img/hero_macbookair__el7scava26mq_largetall_2x.png");
  height: 100vh;
  width: 98vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*border: 2px solid red;*/
  font-family: sf pro;
}

.hero-content {
  margin-left: -500px;
  margin-top: 0px;
  padding-top: 15%;
  /*border: 2px solid red;*/
}

.unit-link {
  width: 98vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  font-family: sf pro;
}

.headline {
  color: rgb(29, 29, 31);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 56px;
  letter-spacing: -0.28px;
  font-weight: 600;
  text-align: center;
}

.m2-logo-image {
  background-image: url("./img/logo_hero_macbookair__edl9uovq56wm_largetall_2x.png");
  /* background-position-x: 50%;
  background-position-y: 50%;
*/
  background-size: 242px 41px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  display: none;
}

.cta-button {
  height: 13px;
  margin-left: 3px;
}

.availability {
  font-size: 20.5px;
  color: rgb(134, 134, 139);
  margin-bottom: 0;
  margin-top: 12px;
  text-align: center;
}

.cta-btns {
  margin-top: 10px;
  text-align: center;
}

.cta-btns a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  font-weight: 400;
  font-size: 21px;
  z-index: 4;
}

.learn-more {
  margin-right: 28px;
}

.cta-btns a:hover {
  text-decoration: underline;
}

.section-3-wrapper {
  height: 100vh;
  width: 98vw;
  background-image: url("./img/hero_bts__bcuslanw39xe_largetall_2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sf pro;
  margin-bottom: 0;
}

.section-3-content {
  padding-top: 44px;
  padding-bottom: 0;
}

.section-3-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(29, 29, 31);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.28px;
  text-align: center;
  font-style: italic;
}

span {
  color: rgb(202, 33, 102);
}

.section-3-subtitle {
  margin-bottom: 0;
  margin-top: 6px;
  color: rgb(29, 29, 31);
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.footnote {
  color: rgb(29, 29, 31);
  text-decoration: none;
  font-size: 16.8px;
  font-weight: 400;
}

.call-to-action-section-3 {
  margin-bottom: 0;
  margin-top: 13.65px;
  text-align: center;
}

.call-to-action-section-3 a {
  color: rgb(0, 102, 204);
  font-size: 21px;
  text-decoration: none;
}

.section-4-content {
  display: grid;
  grid-template-columns: 622px 622px;
  /*height: 1764px;
  width: 1247px;*/
  column-gap: 12px;
  row-gap: 12px;
  position: relative;
  left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0;
}

.grid-left {
  height: 624px;
  width: 622px;
  /*  border: 1px solid red;*/
}

.grid-right {
  height: 624px;
  width: 605px;
  /*  border: 1px solid red;*/
}

.grid-left-1 {
  /* height: 100%;
  width: 100%;*/
  background-image: url("./img/promo_ipadair_avail__ferd4bfpcdm6_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-left-2 {
  /*height: 100%;
  width: 100%;*/
  background-image: url("./img/promo_watch_lte__djeaso7ukrsm_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-left-3 {
  /*height: 100%;
  width: 100%;*/
  background-image: url("./img/tile__cauwwcyyn9hy_large_2x\ \(12\).jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-1 {
  background-image: url("./img/promo_mbp13__buwssod6c8vm_medium_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-2 {
  background-image: url("./img/promo_iphone13pro_avail__beadms4ldidu_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-3 {
  background-image: url("./img/promo_maryj__e6jdmpy1riye_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.airpods-background {
  display: none;
}

.grid-right-3 {
}

.grid-link-left {
  height: 620px;
  width: 620px;
  position: absolute;
  z-index: 3;
  font-family: sf pro;
}

.grid-link-right {
  height: 620px;
  width: 602px;
  position: absolute;
  z-index: 3;
  font-family: sf pro;
}

.grid-1-heading {
  background-image: url("./img/promo_logo_ipadair__frwnnsqveeye_large_2x.png");
  background-position: center;
  background-size: 133px 37px;
  height: 37px;
  background-repeat: no-repeat;
  margin-top: 62px;
  margin-bottom: 0;
}

.grid-1-subheading {
  color: rgb(245, 245, 247);
  font-size: 21px;
  font-weight: 400;
  font-family: sf pro;
  text-align: center;
  margin-top: 2px;
  letter-spacing: 0.336px;
  margin-bottom: 0;
}

.call-to-action-grid-1,
.call-to-action-grid-2,
.call-to-action-grid-3,
.call-to-action-grid-4,
.call-to-action-grid-5 {
  margin-top: 11.9px;
  margin-bottom: 0;
  text-align: center;
}

.call-to-action-mackbook-pro-13 {
  margin-top: 0;
}

.call-to-action-grid-1 a,
.call-to-action-grid-2 a,
.call-to-action-grid-3 a,
.call-to-action-grid-4 a,
.call-to-action-grid-5 a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: sf pro;
}

.buy-grid-1,
.buy-grid-2,
.buy-grid-3,
.buy-grid-4,
.try-it-free {
  margin-left: 25px;
}

.grid-2-heading {
  color: rgb(245, 245, 247);
  text-align: center;
  font-size: 40px;
  font-family: sf pro;
  font-weight: 600;
  letter-spacing: 0.064px;
  margin-top: 53px;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

.grid-2-subheading {
  background-image: url("./img/logo_promo_mbp13__gnmug5nsag66_medium_2x.png");
  background-position: center;
  background-size: 223px 51px;
  height: 51px;
  background-repeat: no-repeat;
  margin-top: -7px;
  margin-bottom: 0;
  text-align: center;
}

.cta-buttons {
  margin-left: 3px;
  height: 10px;
}

.grid-3-heading {
  color: rgb(29, 29, 31);
  font-family: sf pro;
  text-align: center;
  font-size: 40px;
  margin-top: 53px;
  margin-bottom: 0;
  font-weight: 600;
}

.grid-3-subheading {
  color: rgb(29, 29, 31);
  font-family: sf pro;
  text-align: center;
  font-size: 21px;
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.336px;
}

.grid-4-heading {
  background-image: url("./img/promo_logo_watch_lte__emrof7zzkriq_large_2x.png");
  background-position-x: 50%;
  background-position-y: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 146px 56px;
  height: 56px;
  margin: 58px 0 0 0;
}

.grid-4-subheading {
  color: rgb(29, 29, 31);
  font-family: sf pro;
  margin: 10px 0 0 0;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.336px;
  text-align: center;
}

.grid-5-heading {
  background-image: url("./img/logo__dcojfwkzna2q_large_2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 108px 33px;
  height: 33px;
  margin-top: 58px;
  margin-bottom: 0;
}

.grid-5-subheading {
  color: rgb(29, 29, 31);
  font-family: sf pro;
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.336px;
  max-width: 290px;
  width: 290px;
  text-align: center;
  margin-right: 166px;
  margin-left: 166px;
}

.right-grid-3-content {
  display: flex;
  flex-direction: column;
  height: 622px;
  align-content: center;
  justify-content: space-between;
}

.bottom-tile {
  padding: 0 0 40px 0;
}

.grid-6-heading {
  background-image: url("/svg/promo_logo_aml__eev5f1svfugm_large.svg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 603px;
  height: 104px;
  margin: 20px 0 0 0;
}

.grid-6-subheading {
  color: rgb(245, 245, 247);
  font-size: 21px;
  max-width: 352px;
  font-family: sf pro;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0;
  letter-spacing: 0.336px;
  text-align: center;
  margin-left: 20%;
  -webkit-font-smoothing: antialiased;
}

.call-to-action-grid-6 {
  margin-top: 11.9px;
  margin-bottom: 0;
  text-align: center;
}

.call-to-action-grid-6 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: sf pro;
}

.cta-buttonss {
  margin-left: 3px;
  height: 10.5px;
}

.section-5-content {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 520px;
  /* height: 561.125px;
  border: 2px solid red;
  */
  margin-top: 0px;
  margin-bottom: 0px;
}

.slidessss {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  /* width: 980px;
  height: 523.125px;*/
  width: 980px;
  height: 523.125px;
  margin: 0;
}

.slide-minus-three-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(-306%);
  filter: opacity(0.3);
}

.slide-minus-two-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(-204%);
  filter: opacity(0.3);
}

.slide-1-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(-102%);
  filter: opacity(0.3);
}

.slide-2-3 {
  background-image: url("./img/For\ all\ mankind.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(0%);
}

.slide-3-3 {
  background-image: url("./img/Loot.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(102%);
  filter: opacity(0.3);
}

.slide-4-3 {
  background-image: url("./img/Prehistoric\ planet.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(204%);
  filter: opacity(0.3);
}

.slide-5-3 {
  background-image: url("./img/Ted\ Lasso.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(306%);
  filter: opacity(0.3);
}

.slide-6-3 {
  background-image: url("./img/Baseball.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(408%);
  filter: opacity(0.3);
}

.slide-7-3 {
  background-image: url("./img/Severance.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(510%);
  filter: opacity(0.3);
}

.slide-8-3 {
  background-image: url("./img/Chacha.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(612%);
  filter: opacity(0.3);
}

.slide-9-3 {
  background-image: url("./img/See\ -\ The\ final\ chapter.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(714%);
  filter: opacity(0.3);
}

.slide-10-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(816%);
  filter: opacity(0.3);
}

.slide-11-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(918%);
  filter: opacity(0.3);
}

.slide-12-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1020%);
  filter: opacity(0.3);
}

.slide-13-3 {
  background-image: url("./img/For\ all\ mankind.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1122%);
  filter: opacity(0.3);
}

.slide-14-3 {
  background-image: url("./img/Loot.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1224%);
}

.slide-15-3 {
  background-image: url("./img/Prehistoric\ planet.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1326%);
  filter: opacity(0.3);
}

.slide-16-3 {
  background-image: url("./img/Ted\ Lasso.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1428%);
  filter: opacity(0.3);
}

.slide-17-3 {
  background-image: url("./img/Baseball.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1530%);
  filter: opacity(0.3);
}

.slide-18-3 {
  background-image: url("./img/Severance.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1632%);
  filter: opacity(0.3);
}

.slide-19-3 {
  background-image: url("./img/Chacha.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1734%);
  filter: opacity(0.3);
}

.slide-20-3 {
  background-image: url("./img/See\ -\ The\ final\ chapter.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1836%);
  filter: opacity(0.3);
}

.slide-21-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(1938%);
  filter: opacity(0.3);
}

.slide-22-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2040%);
  filter: opacity(0.3);
}

.slide-23-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2142%);
  filter: opacity(0.3);
}

.slide-24-3 {
  background-image: url("./img/For\ all\ mankind.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2244%);
  filter: opacity(0.3);
}

.slide-25-3 {
  background-image: url("./img/Loot.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2346%);
  filter: opacity(0.3);
}

.slide-26-3 {
  background-image: url("./img/Prehistoric\ planet.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2448%);
  filter: opacity(0.3);
}

.slide-27-3 {
  background-image: url("./img/Ted\ Lasso.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2550%);
  filter: opacity(0.3);
}

.slide-28-3 {
  background-image: url("./img/Baseball.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2652%);
  filter: opacity(0.3);
}

.slide-29-3 {
  background-image: url("./img/Severance.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2754%);
  filter: opacity(0.3);
}

.slide-30-3 {
  background-image: url("./img/Chacha.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2856%);
  filter: opacity(0.3);
}

.slide-31-3 {
  background-image: url("./img/See\ -\ The\ final\ chapter.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(2958%);
  filter: opacity(0.3);
}

.slide-32-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3060%);
  filter: opacity(0.3);
}

.slide-33-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3162%);
  filter: opacity(0.3);
}

.slide-34-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3264%);
  filter: opacity(0.3);
}

.slide-35-3 {
  background-image: url("./img/For\ all\ mankind.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3366%);
  filter: opacity(0.3);
}

.slide-36-3 {
  background-image: url("./img/Loot.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3468%);
  filter: opacity(0.3);
}

.slide-37-3 {
  background-image: url("./img/Prehistoric\ planet.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3570%);
  filter: opacity(0.3);
}

.slide-38-3 {
  background-image: url("./img/Ted\ Lasso.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3672%);
  filter: opacity(0.3);
}

.slide-39-3 {
  background-image: url("./img/Baseball.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3774%);
  filter: opacity(0.3);
}

.slide-40-3 {
  background-image: url("./img/Severance.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3876%);
  filter: opacity(0.3);
}

.slide-41-3 {
  background-image: url("./img/Chacha.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(3978%);
  filter: opacity(0.3);
}

.slide-42-3 {
  background-image: url("./img/See\ -\ The\ final\ chapter.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4080%);
  filter: opacity(0.3);
}

.slide-43-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4182%);
  filter: opacity(0.3);
}

.slide-44-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4284%);
  filter: opacity(0.3);
}

.slide-45-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4386%);
  filter: opacity(0.3);
}

.slide-46-3 {
  background-image: url("./img/For\ all\ mankind.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4488%);
  filter: opacity(0.3);
}

.slide-47-3 {
  background-image: url("./img/Loot.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4590%);
  filter: opacity(0.3);
}

.slide-48-3 {
  background-image: url("./img/Prehistoric\ planet.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4692%);
  filter: opacity(0.3);
}

.slide-49-3 {
  background-image: url("./img/Ted\ Lasso.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4794%);
  filter: opacity(0.3);
}

.slide-50-3 {
  background-image: url("./img/Baseball.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4896%);
  filter: opacity(0.3);
}

.slide-51-3 {
  background-image: url("./img/Severance.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(4998%);
  filter: opacity(0.3);
}

.slide-52-3 {
  background-image: url("./img/Chacha.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(5100%);
  filter: opacity(0.3);
}

.slide-53-3 {
  background-image: url("./img/See\ -\ The\ final\ chapter.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(5202%);
  filter: opacity(0.3);
}

.slide-54-3 {
  background-image: url("./img/Morning\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(5304%);
  filter: opacity(0.3);
}

.slide-55-3 {
  background-image: url("./img/Physical.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(5406%);
  filter: opacity(0.3);
}

.slide-56-3 {
  background-image: url("./img/Snoopy\ show.jpg");
  background-position: center;
  background-size: cover;
  transform: translateX(5508%);
  filter: opacity(0.3);
}

.first-info-bottom {
  display: flex;
  width: 737px;
  height: 44px;
  margin: 0 0 35px 68px;
}

.info-bottom {
  display: flex;
  width: 737px;
  height: 44px;
  filter: opacity(0);
  margin: 0 0 0 68px;
}

.play-button-container {
  display: flex;
  width: 102.177px;
  height: 20px;
  border-radius: 500px;
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 31);
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.message {
  font-family: sf pro;
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 700;
  filter: contrast(16.36);
  letter-spacing: 0.333px;
}

.stream-now-icon {
  background-image: url("./img/Play\ button\ icon.jpg");
  background-position: center;
  background-size: cover;
  width: 14px;
  height: 14px;
  margin-left: 4.2px;
}

.typography-shows-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: sf pro;
  font-weight: 400;
}

.genre {
  color: rgb(255, 255, 255);
  font-family: sf pro;
  font-size: 20px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  -webkit-font-smoothing: antialiased;
}

.m-dot {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
  margin-left: 5px;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  /*border: 2px solid red;*/
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  /* background-color: rgba(0, 0, 0, 0.56);*/
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 7px;
  cursor: pointer;
}

.nav--active {
  background-color: rgba(0, 0, 0, 0.56);
  /*border: 1px solid red;*/
}

.site-end {
  background-color: #f5f5f7;
}

.footer-content {
  margin: 0 128px;
  padding: 0 22px;
}

.tees-and-cees {
  padding: 0;
  margin: 0;
}

.terms-and-conditions {
  padding: 17px 0 23px 0;
  margin: 0;
  border-bottom-color: rgb(210, 210, 215);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.rules {
  list-style: none;
  color: rgb(110, 110, 115);
  font-size: 12px;
  font-family: sf pro text;
  line-height: 16.004px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 9.6px;
}

.rules-bottom {
  padding-bottom: 0;
}

.goldman-agreement,
.more-info,
.support {
  color: rgb(66, 66, 69);
  cursor: pointer;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.goldman-agreement:hover,
.more-info:hover,
.support:hover {
  text-decoration: underline;
}

.footer-navigation {
  margin: 0;
  padding: 9px 0 0 0;
}

.footer-navigation {
  display: flex;
  padding-top: 20px;
}

.directory-column {
  /*height: 414.312px;*/
  width: 196px;
  margin: 0;
  padding: 0;
  color: rgb(110, 110, 115);
  text-align: left;
  font-size: 12px;
  font-family: sf pro text;
  line-height: 16.004px;
  -webkit-font-smoothing: antialiased;
  /*border: 2px solid red;*/
}

.section-list {
  margin: 0;
  padding: 0;
}

.content-list-title {
  color: rgb(29, 29, 31);
  filter: contrast(15.54);
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: sf pro text;
  font-weight: 600;
  margin-bottom: 9.6px;
}

.lists {
  list-style: none;
  margin-bottom: 9.6px;
}

.lists a {
  text-decoration: none;
  color: #424245;
  font-size: 12px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

.list-two {
  padding-top: 14.4px;
}

.lists a:hover {
  text-decoration: underline;
}

.nav-last-part {
  margin: 0;
  padding: 34px 0 21px 0;
}

.apple-near-you {
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  border-bottom-color: rgb(210, 210, 215);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 12px;
  text-align: left;
  font-family: sf pro text;
  color: rgb(110, 110, 115);
  -webkit-font-smoothing: antialiased;
}

.find-store-links {
  text-decoration: none;
  color: rgb(0, 102, 204);
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.find-store-links:hover {
  text-decoration: underline;
  filter: contrast(5.11);
}

.copyright-detials {
  display: flex;
}

.copyright-statement {
  margin: 8px 30px 0 0;
  padding: 0;
  font-size: 12px;
  color: rgb(110, 110, 115);
  font-family: sf pro text;
  -webkit-font-smoothing: antialiased;
}

.more-navigation {
  margin: 5px 30px 0 0;
  padding: 0;
}

.terms-and-rules {
  text-decoration: none;
  font-size: 12px;
  color: #424245;
  font-family: sf pro text;
  -webkit-font-smoothing: antialiased;
}

.terms-and-rules:hover {
  text-decoration: underline;
}

.terms-border {
  padding: 0 10px 0 0;
  margin: 0 7px 0 0;
  border-right-color: rgb(210, 210, 215);
  border-right-style: solid;
  border-right-width: 1px;
}

.united-states {
  margin: 5px 0px 0px 155px;
}

.united-states a {
  text-decoration: none;
  color: rgb(66, 66, 69);
  font-size: 12px;
  color: #424245;
  font-family: sf pro text;
  -webkit-font-smoothing: antialiased;
}

.united-states a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 481px) {
  .nav {
    width: 100vw;
    height: 48px;
  }

  .navigation-links {
    margin: 0;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 5px;
    height: 44px;
    /*border: 2px solid red;*/
  }

  .links,
  .linkss {
    display: none;
  }

  .mobile-visible {
    display: block;
  }

  .apple-logo {
    height: 20px;
    width: 20px;
    padding-top: 7px;
  }

  .shopping-bag {
    height: 17px;
    width: 17px;
    padding-top: 7px;
  }

  .menu-logo {
    width: 20px;
    height: 18px;
    display: block;
  }

  .section-content {
    flex-direction: column;
    padding: 63px 0 15px 0;
    margin: 0;
  }

  .unicef-logo {
    background-image: url("./img/unicef_logo_dark__ejvlglygb3ee_small_2x.png");
    background-size: 106px 28px;
    height: 28px;
    margin: 0;
  }

  .support-message {
    font-size: 14px;
    text-align: center;
    margin: 4px 0 0 0;
    max-width: 215px;
  }

  .section-2-wrapper {
    background-size: 734px 548px;
    height: 500px;
    width: 100vw;
    border: none;
    background-image: url("./img/hero_macbookair__el7scava26mq_small_2x.png");
    /*border: 1px solid red;*/
  }

  .headline {
    font-size: 32px;
    letter-spacing: 0.128px;
    margin: 6px 0 0 0;
  }

  .m2-logo-image {
    background-image: url("./img/logo_hero_macbookair__edl9uovq56wm_small_2x.png");
    background-size: 178px 29px;
    height: 29px;
    margin-top: 2px;
  }

  .cta-button {
    height: 10px;
    margin-left: 3px;
  }

  .cta-btns {
    margin-top: 7px;
  }

  .cta-btns a {
    font-size: 17px;
  }

  .learn-more {
    margin-right: 27px;
  }

  .hero-content {
    padding: 31px 0 0 0;
    margin-left: 0px;
  }

  .section-1-wrapper {
    background-image: url("./img/hero_iphone13_avail__gnqqkzuai6um_small_2x.jpg");
    background-size: 734px 548px;
    height: 500px;
    width: 100vw;
    padding-top: 48px;
  }

  .title {
    font-size: 32px;
    letter-spacing: 0.128px;
    margin: 0;
    padding-top: 30px;
  }

  .macbook-13-logo {
    font-size: 19px;
    margin: 4px 0 0 0;
    letter-spacing: 0.128px;
  }

  .call-to-action-buttons {
    margin: 11.9px 0 0 0;
  }

  .call-to-action-buttons a {
    font-size: 17px;
  }

  .unit-link {
    background-size: 734px 548px;
    height: 500px;
    width: 100vw;
  }

  .section-3-wrapper {
    background-image: url("./img/hero_bts__bcuslanw39xe_small_2x.jpg");
    background-size: 734px 548px;
    height: 500px;
    width: 100vw;
    margin: 11px 0 0 0;
  }

  .section-3-content {
    padding: 37px 0 0 0;
  }

  .section-3-title {
    font-size: 32px;
    letter-spacing: 0.128px;
  }

  .section-3-subtitle {
    margin: 4px 0 0 0;
    font-size: 19px;
  }

  .call-to-action-section-3 {
    margin: 11.9px 0 0 0;
  }

  .section-4-content {
    display: grid;
    grid-template-columns: 375.33px;
    column-gap: 0px;
    row-gap: 0px;
    position: relative;
    left: 0px;
    padding: 0 0 12px 0;
  }

  .grid-left,
  .grid-right,
  .grid-link-right,
  .grid-link-left {
    /*height: 624px;
       width: 375.33px;
        border: 1px solid red;
    */
    width: 100vw;
    height: 500px;
  }

  .section-5-content {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 520px;
    margin: 0;
  }

  .grid-1-heading {
    background-image: url("./img/promo_logo_ipadair__frwnnsqveeye_small_2x.png");
    background-size: 112px 30px;
    height: 30px;
    margin: 43px 0 0 0;
  }

  .grid-1-subheading {
    font-size: 19px;
    letter-spacing: 0.228px;
    margin: 5px 0 0 0;
  }

  .call-to-action-grid-1 {
    margin: 13.94px 0 0 0;
  }

  .grid-2-heading {
    font-size: 32px;
    margin: 37px 0 0 0;
    letter-spacing: 0.064px;
  }

  .grid-2-subheading {
    background-image: url("./img/logo_promo_mbp13__gnmug5nsag66_small_2x.png");
    background-size: 207px 48px;
    height: 48px;
    margin: -5px 0 0 0;
  }

  .call-to-action-grid-2 {
    margin: 1px 0 0 0;
  }

  .grid-3-heading {
    font-size: 32px;
    margin: 65px 0 0 0;
    letter-spacing: 0.064px;
  }

  .grid-3-subheading {
    font-size: 19px;
    margin: 4px 0 0 0;
    letter-spacing: 0.228px;
  }

  .call-to-action-grid-4 {
    margin: 13.94px 0 0 0;
  }

  .grid-4-heading {
    background-image: url("./img/promo_logo_watch_lte__emrof7zzkriq_small_2x.png");
    background-size: 122px 47px;
    height: 47px;
    margin: 49px 0 0 0;
  }

  .grid-4-subheading {
    margin: 7px 0 0 0;
    font-size: 19px;
    letter-spacing: 0.228px;
  }

  .grid-5-heading {
    background-image: url("./img/logo__dcojfwkzna2q_small_2x.png");
    background-size: 88px 27px;
    height: 27px;
    margin: 45px 0 0 0;
  }

  .grid-5-subheading {
    font-size: 19px;
    letter-spacing: 0.228px;
    margin: 9px 57.667px 0 57.667px;
  }

  .call-to-action-grid-5 {
    margin: 13.94px 0 0 0;
  }

  .right-grid-3-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-content: center;
    justify-content: space-between;
  }

  .bottom-tile {
    padding: 0 0 40px 0;
  }

  .grid-6-heading {
    background-image: url("./svg/promo_logo_aml__eev5f1svfugm_small.svg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 81px;
    margin: 17px 0 0 0;
  }

  .grid-6-subheading {
    font-size: 19px;
    margin: 4px 0 0 0;
    letter-spacing: 0.228px;
  }

  .call-to-action-grid-6 {
    margin: 16px 0 0 0;
  }

  .call-to-action-grid-6 a {
    color: rgb(255, 255, 255);
  }

  .grid-right-3 {
    background-image: url("./img/promo_maryj__e6jdmpy1riye_small_2x.jpg");
    background-size: 734px 548px;
    height: 500px;
    width: 100vw;
    margin: 0;
  }

  .slidessss {
    width: 274px;
    height: 495px;
    margin: 0;
  }

  .grid-left-1 {
    background-image: url("./img/promo_ipadair_avail__ferd4bfpcdm6_small_2x.jpg");
  }

  .grid-left-2 {
    background-image: url("./img/promo_watch_lte__djeaso7ukrsm_small_2x.jpg");
  }

  .grid-left-3 {
    background-image: url("./img/tile__cauwwcyyn9hy_small_2x.jpg");
  }

  .grid-right-1 {
    background-image: url("./img/promo_mbp13__buwssod6c8vm_small_2x.jpg");
  }

  .grid-right-2 {
    background-image: url("./img/promo_iphone13pro_avail__beadms4ldidu_small_2x.jpg");
    margin: 0 0 11px 0;
  }

  .footer-navigation {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .united-states {
    margin: 5px 0px 0px -105px;
  }

  .goldman-agreement {
    font-size: 10px;
  }

  .footer-content {
    margin: 0 48px;
    padding: 0 12px;
  }
}
