@font-face {
  font-family: sf pro text;
  src: url(fonts/SF-Pro-Text-Light.otf);
}

@font-face {
  font-family: sf pro;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 44px;
  /*background-color: #1d1d1f;*/
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

.navigation-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
  padding-top: 12px;
}

.links {
  padding: 0 8px;
}

.links a {
  text-decoration: none;
  /* color: white;*/
  color: #ffffff;
  opacity: 0.8;
  font-family: sf pro text;
  font-size: 12px;
}

.links a:hover {
  opacity: 1;
}

.apple-logo {
  height: 15px;
  width: 44px;
}

.search-icon {
  height: 15px;
  width: 44px;
}

.shopping-bag {
  height: 13px;
  width: 44px;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 0px;
  background-image: linear-gradient(
    rgb(245, 245, 247) calc(68px),
    rgb(255, 255, 255) 0%
  );
}

.unicef-logo img {
  height: 32px;
  width: 122px;
  margin-right: -25px;
}

.support-message {
  color: #0066cc;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: sf pro text;
  align-self: center;
}

.support-message:hover {
  text-decoration: underline;
}

.arrow-icon {
  height: 8px;
  margin-left: 4px;
  transform: rotate(-0deg);
}

.section-1-wrapper {
  height: 100vh;
  width: 98vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./img/hero_mbp13__f88jcbca0ve6_largetall_2x.jpg");
  font-family: sf pro;
  margin-top: 0;
}

.section-1-info {
  padding-top: 50px;
}

.title {
  color: rgb(245, 245, 247);
  font-family: sf pro;
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.28px;
}

.macbook-13-logo {
  background-image: url("./img/logo_hero_mbp13__gdqp6kikbxe2_largetall_2x.png");
  background-size: 293px 68px;
  height: 68px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  margin-top: -3px;
  margin-bottom: 0;
  margin-left: 40px;
}

.call-to-action-buttons {
  margin-top: 13.65px;
  margin-bottom: 0;
  text-align: center;
}

.call-to-action-buttons a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  font-weight: 400;
  font-size: 21px;
  z-index: 4;
}

.section-2-wrapper {
  background-image: url("./img/hero_macbookair__el7scava26mq_largetall_2x.png");
  height: 100vh;
  width: 98vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*border: 2px solid red;*/
  font-family: sf pro;
}

.hero-content {
  margin-left: -500px;
  margin-top: 0px;
  padding-top: 15%;
  /*border: 2px solid red;*/
}

.unit-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  font-family: sf pro;
}

.headline {
  color: rgb(29, 29, 31);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 56px;
  letter-spacing: -0.28px;
  font-weight: 600;
  text-align: center;
}

.m2-logo-image {
  background-image: url("./img/logo_hero_macbookair__edl9uovq56wm_largetall_2x.png");
  /* background-position-x: 50%;
  background-position-y: 50%;
*/
  background-size: 242px 41px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  display: none;
}

.cta-button {
  height: 13px;
  margin-left: 3px;
}

.availability {
  font-size: 20.5px;
  color: rgb(134, 134, 139);
  margin-bottom: 0;
  margin-top: 12px;
  text-align: center;
}

.cta-btns {
  margin-top: 10px;
  text-align: center;
}

.cta-btns a {
  text-decoration: none;
  color: rgb(0, 102, 204);
  font-weight: 400;
  font-size: 21px;
  z-index: 4;
}

.learn-more {
  margin-right: 28px;
}

.cta-btns a:hover {
  text-decoration: underline;
}

.section-3-wrapper {
  height: 100vh;
  width: 98vw;
  background-image: url("./img/hero_bts__bcuslanw39xe_largetall_2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sf pro;
  margin-bottom: 0;
}

.section-3-content {
  padding-top: 44px;
  padding-bottom: 0;
}

.section-3-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(29, 29, 31);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.28px;
  text-align: center;
  font-style: italic;
}

span {
  color: rgb(202, 33, 102);
}

.section-3-subtitle {
  margin-bottom: 0;
  margin-top: 6px;
  color: rgb(29, 29, 31);
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.footnote {
  color: rgb(29, 29, 31);
  text-decoration: none;
  font-size: 16.8px;
  font-weight: 400;
}

.call-to-action-section-3 {
  margin-bottom: 0;
  margin-top: 13.65px;
  text-align: center;
}

.call-to-action-section-3 a {
  color: rgb(0, 102, 204);
  font-size: 21px;
  text-decoration: none;
}

.section-4-content {
  display: grid;
  grid-template-columns: 622px 622px;
  height: 1764px;
  width: 1256px;
  column-gap: 12px;
  row-gap: 12px;
  position: relative;
  left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.grid-left {
  height: 676px;
  width: 622px;
}

.grid-right {
  height: 676px;
  width: 605px;
}

.grid-left-1 {
  height: 100%;
  width: 100%;
  background-image: url("./img/promo_ipadair_avail__ferd4bfpcdm6_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-left-2 {
  height: 100%;
  width: 100%;
  background-image: url("./img/promo_iphone13_avail__frc36u35m0ii_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-left-3 {
  height: 100%;
  width: 100%;
  background-image: url("./img/tile__cauwwcyyn9hy_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-1 {
  background-image: url("./img/promo_watch_lte__djeaso7ukrsm_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-2 {
  background-image: url("./img/promo_aml__mw753wajz8qy_large_2x.jpg");
  background-position: center;
  background-size: cover;
}

.grid-right-3 {
  background-image: url("./img/promo_katy_perry__eqekd92guu4i_large_2x.jpg");
  background-position: center;
  background-size: cover;
}
